@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;700&display=swap&subset=arabic,latin');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}



body {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  background-color: var(--bg-background);
  color: var(--text-neutral);
  font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans Arabic', serif;
}